/env
.env
/.venv
/google_cloud_env/bin
/google_cloud_env/include
/google_cloud_env/lib
/google_cloud_env/lib64
/google_cloud_env/sanguine-orb-441020-p6-a442ce3d1ed1.json

/Audio/path
/Audio/venv
/Transcripts/
/database/OpenAI_Integration/api_key.json

/Vanna/*
!Vanna/test.ipynb
!Vanna/database_converter.ipynb

/Audio/testing_audio/Vanna_in_audio/*
!Audio/testing_audio/Vanna_in_audio/use_vanna.ipynb
!Audio/testing_audio/Vanna_in_audio/new_dummy.ipynb
!Audio/testing_audio/Vanna_in_audio/test.py
!Audio/testing_audio/Vanna_in_audio/test2.py